# ─── Base de données ───────────────────────────────────────────
DB_USER=bkadmin
DB_PASSWORD=CHANGE_MOI_EN_PROD
DATABASE_URL=postgresql://bkadmin:CHANGE_MOI_EN_PROD@postgres:5432/brainy_kids?schema=public

# ─── JWT ───────────────────────────────────────────────────────
JWT_SECRET=CHANGE_MOI_EN_PRODUCTION_AVEC_CHAINE_ALEATOIRE

# ─── URLs ──────────────────────────────────────────────────────
FRONTEND_URL=http://localhost
NEXT_PUBLIC_API_URL=http://localhost/api

# ─── En production avec domaine ────────────────────────────────
# FRONTEND_URL=https://brainy-kids.tn
# NEXT_PUBLIC_API_URL=https://brainy-kids.tn/api
