# Dépendances
node_modules/
**/node_modules/

# Build
dist/
.next/
**/dist/
**/.next/

# Variables d'environnement (SECRETS)
.env
*.local
**/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/
**/coverage/

# Docker
.dockerignore
